.header {
  padding: 2% 4%;
  width: 100%;

  align-items: center;
  margin: 0 auto;
  background: linear-gradient(#001736, #360036);
  z-index: 1;
}

.header_row {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: large;
  justify-content: space-between;
}

.header__logo {
  width: 8%;
  align-items: center;
}

.header__nav {
  font-weight: 500;
  font-size: 22px;
  align-items: center;
  justify-content: space-between;

  display: flex;
}

.header__nav ul {
  display: flex;
  gap: 20px;
  margin-bottom: 0px;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
  cursor: pointer;
}

.header__nav a {
  padding: 0.3em 0.8em;
  text-transform: uppercase;
  font-weight: 400;
  align-items: center;
  color: rgb(255, 255, 255);
}

.border-bottom {
  padding: 0px 12px;
}

.border-bottom:hover {
  color: rgb(255, 255, 255);
  background-color: orangered;
  font-size: 1.2em;
  padding: 8px 12px;
}

.signin-bottom {
  padding: 0.3em 0.5em;

  color: rgb(255, 255, 255);
  background: orangered;
  border-radius: 5px;
  font-weight: 300;
}

.signin-bottom:hover {
  color: rgb(255, 255, 255);
  background: rgb(100, 65, 52);
}

.header__nav a:hover {
  color: orangered;
  transition: all ease-in-out 0.1s;
  letter-spacing: 0.05rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .header {
    padding: 5% 1%;
    background: linear-gradient(#001736, #360036);
  }

  .header_row {
    padding: 0px 10px;
  }

  .header__nav ul {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
  }

  .header__logo {
    width: 14%;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .header__nav a {
    padding: 0.1em 0.3em;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }

  .signin-bottom {
    padding: 0em 0.3em;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(109, 107, 106);
    border-radius: 2px;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .header__nav a:hover {
    padding: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
    color: orangered;
    font-size: 1.4em;
  }
}

.footer-logo-image {
  width: 50%;
}
